<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LaCasserai{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>


<nav class="navbar navbar-expand-lg">
    <div class="nav_wrapper">

        <a class="navbar-brand" href="/">LaCasserai</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav_second_section">
            <div class="crud_section">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin Panel
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('user_index') }}">Users</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('reservering_index') }}">reservering</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('seizoen_index') }}">seizoen</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('soort_index') }}">soort</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('kamer_index') }}">kamer</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('image_index') }}">image</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('extras_index') }}">extras</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('betaal_index') }}">Betaal</a>
                        </div>
                    </li>
                {% endif %}
            </div>
            <div class="log_section">

                {% if app.user %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                    </li>
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: red;" href="{{ path('fos_user_security_logout') }}">Logout</a>
                    </li>
                {% endif %}
            </div>



        </div>
    </div>
</nav>

{% block body %}{% endblock %}
{% block fos_user_content %}{% endblock fos_user_content %}
{% block javascripts %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
